*{
    padding: 0px;
    margin: 0px;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}
.nav img{
    height: 40px;
    width: 40px;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}
.itens{
    display: flex;
    background-color: rgb(44, 44, 44);
    align-items: center;
    justify-content: center;
}
.item img{
    width: 250px;
}
.item{
    background-color: rgb(82, 82, 82);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(201, 201, 201);
    margin: 250px 20px 350px 20px;
    border-radius: 10px;
}
.item img{
    transition: 0.3s;
}
.item img:hover{
    padding: 10px;
    transition: 0.3s;
    border-style: dashed;
    border-radius: 15px;
}
.item h2{
    background-color: rgb(27, 27, 27);
    padding-bottom: 5px;
}
.item p{
    border-radius: 0px 0px 10px 10px;
    background-color:  rgb(27, 27, 27);
    font-size: 12px;
    padding: 5px;
}

.msg_alerta{
    display: none;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(4px);
    height: 99%;
    align-items: center;
    justify-content: center;
}
.msg_alerta button{
    margin-left: 3px;
}
.card{
    background-color: rgb(54, 54, 54);
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(161, 161, 161);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card h2{
    margin: 0px 20px 0px 20px;
}
.btn button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
}
#sim{
    background-color: rgb(0, 196, 0);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s;
}
#sim:hover{
    background-color: rgb(0, 223, 0);
    transition: 0.1s;
}
#não{
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    cursor: pointer;
    transition: 0.1s;
}
#não:hover{
    background-color: rgb(87, 87, 87);
    transition: 0.1s;
}
#sim2{
    background-color: rgb(0, 196, 0);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s;

}
#sim2:hover{
    background-color: rgb(0, 223, 0);
    transition: 0.1s;
}
#não2{
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    cursor: pointer;
    transition: 0.1s;
}
#não2:hover{
    background-color: rgb(87, 87, 87);
    transition: 0.1s;
}
#sim3{
    background-color: rgb(0, 196, 0);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s;

}
#sim3:hover{
    background-color: rgb(0, 223, 0);
    transition: 0.1s;
}
#não3{
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    cursor: pointer;
    transition: 0.1s;
}
#não3:hover{
    background-color: rgb(87, 87, 87);
    transition: 0.1s;
}
::-webkit-scrollbar{
    background-color: rgb(51, 51, 51);
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
}
